.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sale {
  background-color: red;
  margin-right: 60%;
}

.exc {
  background-color: green;
  margin-right: 60%;
}
